dist: trusty
sudo: required
services:
  - docker
stages:
  - compile
  - deploy
jobs:
  include:
    - stage: compile
      language: java
      jdk: oraclejdk8
      before_script:
        - cd admin
      script:
        - mvn clean install
      after_script:
        - ls
        - cd ..
      cache:
        directories:
        - $HOME/.m2
      after_success:
        - ls
        - pwd
    - stage: compile
      language: java
      jdk: oraclejdk8
      before_script:
        - cd service
      script:
        - mvn clean install
      after_script:
        - ls
        - cd ..
      cache:
        directories:
        - $HOME/.m2
      after_success:
        - ls
        - pwd
    - stage: compile
      language: node_js
      node_js:
        - "node"
      before_script:
        - cd multiservice-react-app
        - npm install
      cache:
        directories:
          - "node_modules"
      script:
        - npm run build
      after_script:
        - ls
        - cd ..
      after_success:
        - ls
        - pwd
    - stage: deploy
      script: ls
# script: ls
# script:
#   - echo "Hello There!!!"
#   - docker ps 
#   - heroku auth:token
#   - docker build -t registry.heroku.com/nginx-revese-proxy/web .
#   - heroku container:login
#   - heroku container:push web --app=nginx-revese-proxy
#   - heroku container:release web --app=nginx-revese-proxy
notifications:
    email: false
