dist: trusty
sudo: required
matrix:
  include:
    - language: java
      jdk: oraclejdk8
      before_script:
        - cd admin
      script:
        - mvn clean install
      after_script:
        - ls
        - cd ..
      cache:
        directories:
        - $HOME/.m2
      after_success:
        - ls
        - pwd
    - language: java
      jdk: oraclejdk8
      before_script:
        - cd service
      script:
        - mvn clean install
      after_script:
        - ls
        - cd ..
      # before_cache:
      #   - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
      #   - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
      cache:
        directories:
        - $HOME/.m2
      after_success:
        - ls
        - pwd
    - language: node_js
      node_js:
        - "node"
      before_script:
        - cd multiservice-react-app
        - npm install
      cache:
        directories:
          - "node_modules"
      script:
        - npm run build
      after_script:
        - ls
        - cd ..
      after_success:
        - ls
        - pwd

notifications:
    email: false
